<section class="c-hp-posts-section">
  <div class="container">
    <div class="row c-hp-posts-section__inner">
      <div class="col-12 col-lg-4 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-lg-4 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-lg-4 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
    <a href="#" class="btn">Další články</a>
  </div>
</section>
