<section class="c-player-section">
  <div class="container">
    <div class="row gx-10">
      <div class="col-lg-8 col-12">
        <div class="px-sm-10 pt-section">
          <div class="c-player pb-10">
            <div class="c-player__img">
              <img
                src="https://via.placeholder.com/296x296"
                alt=""
                loading="lazy"
              />
              <span>17</span>
            </div>
            <div class="c-player__info">
              <h1 class="h1">
                <span>Tomáš</span>
                Satoranský
              </h1>
              <div class="c-player__position">Rozehrávač</div>
              <ul>
                <li><span>Datum narození:</span> 17. 2. 1993 (29 let)</li>
                <li><span>Výška:</span> 201 cm</li>
                <li><span>Váha:</span> 85 kg</li>
                <li><span>Národnost:</span> česká</li>
              </ul>
            </div>
          </div>
          <div class="o-content mt-10">
            <h1>Lvi o všechno v osobním mači Ronena Ginzburga!</h1>
            <div class="perex">
              Pro izraelského kouče lvů to bude jeden z nejzásadnějších duelů
              jeho trenérské kariéry. Souboj, který bude chtít vyhrát za každou
              cenu.
            </div>
            <p>
              Přijít o play-off EuroBasketu po porážce od rodné země, to by
              Ronena Ginzburga mrzelo ještě hodně dlouho. A všichni jeho muži
              jistě udělají první i poslední, aby ho od této zkušenosti
              uchránili. Podle dosavadního vývoje skupiny D však půjde o velmi
              nesnadnou misi. Dál se po téhle bitvě posune jen jeden!
            </p>
            <p>
              „Bude to klíčový zápas a bude to proti mé rodné zemi. Teď ale žiju
              tady a miluju Česko, takže tam bude o něco víc emocí,” přiznal
              Ronen Ginzburg, který by si určitě uměl představit méně napínavé
              okolnosti posledního kola skupiny.
            </p>
            <p>
              „Pro mě to ale i přes to všechno nebude nijak zvlášť těžší. Jistě,
              narodil jsem se v Izraeli, ale nakonec jde především o basket a my
              musíme vyhrát. I přes ty osobní emoce platí, že jakmile začne
              zápas, už tohle musí stranou,” zdůrazní.
            </p>
            <p>
              Tak či tak, lvi už nyní mají doslova nůž na krku. V posledním
              pátém kole základní skupiny potřebují ve čtvrtek v pražské O2
              aréně skolit Izrael (17:30), aby si pomohli k postupu do
              osmifinále play-off v Berlíně. Tři zbývající postupové vstupenky z
              české skupiny jsou již rozdány, když si je zabrali Srbové, Poláci
              a Finové. Češi (aktuální bilance 1-3), nebo Izraelci (2-2) získají
              tu poslední.
            </p>
            <p>
              Ve hře je ale stála řada proměnných. Pokud v prvním utkání dne
              uspějí Finové s Nizozemci, a lvi pak Izraelce porazí byť o jediný
              bod, postupují při shodné bilanci se soupeřem na lepší vzájemný
              zápas. Pokud by však v prvním utkání zvítězili Nizozemci, musí lvi
              vyhrát nejméně o šest bodů, aby při minitabulce tří s bilancí 2-3
              (s Finskem a Izraelem) přetlačili tým ze zaslíbené země.
            </p>
            <p>
              Pak by jim patřila čtvrtá příčka. Pokud by ale Nizozemci zvítězili
              nad Finy a Češi pak porazili Izrael o nejméně 19 bodů, skončili by
              ve skupině dokonce třetí.
            </p>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside3.twig" %}
    </div>
  </div>
</section>
