.c-article {
  &__img {
    aspect-ratio: 856/535;
    margin-bottom: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .date {
      margin-right: 24px;
    }
    .date,
    p {
      margin-bottom: 8px;
    }
  }
}

.perex {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
}
