<section class="hp-dashboard">
  <div class="container">
    <div class="row hp-dashboard__inner">
      <div class="col-lg-4">
        <div class="hp-dashboard__videos">
          <h5 class="h3 hp-dashboard__title">Youtube</h5>
          {% include "@components/post/post-video.twig" %}
          <hr />
          <a href="#" class="hp-dashboard__videos-post">
            <span>24. 12. 2021</span>
            <p>
              <strong
                >Mládežnický reprezentant Filip Kábrt posiluje hradecké
                Sokoly!</strong
              >
            </p>
          </a>
          <hr />
          <a href="#" class="hp-dashboard__videos-post">
            <span>24. 12. 2021</span>
            <p>
              <strong
                >Mládežnický reprezentant Filip Kábrt posiluje hradecké
                Sokoly!</strong
              >
            </p>
          </a>
          <a href="#" class="btn">Youtube kanál</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__table">
          <h5 class="h3 hp-dashboard__title">Tabulka</h5>

          <a href="#" class="btn">Kompletní tabulka</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__gallery">
          <h5 class="h3 hp-dashboard__title">Instagram</h5>
          <div class="row js-gallery">
            <div class="col-6">
              <figure>
                <a href="images/content/clanek.jpeg" data-size="1024x1024">
                  <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <a
                  href="https://via.placeholder.com/1024x1024"
                  data-size="1024x1024"
                >
                  <img
                    src="https://via.placeholder.com/200x200"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <a href="images/content/clanek2.jpeg" data-size="1024x1024">
                  <img
                    src="images/content/clanek2.jpeg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <a href="images/content/clanek.jpeg" data-size="1024x1024">
                  <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <a
                  href="https://via.placeholder.com/1024x1024"
                  data-size="1024x1024"
                >
                  <img
                    src="https://via.placeholder.com/200x200"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </figure>
            </div>
            <div class="col-6">
              <figure>
                <a href="images/content/clanek2.jpeg" data-size="1024x1024">
                  <img
                    src="images/content/clanek2.jpeg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </figure>
            </div>
          </div>
          <a href="#" class="btn">Profil na instagramu</a>
        </div>
      </div>
    </div>
  </div>
</section>
