.hp-dashboard {
  padding-bottom: 48px;
  width: 100%;
  &__table {
    &-respons {
      margin-bottom: 32px;
    }
    th {
      color: var(--color-primary);
    }
    th,
    td {
      width: auto;
      width: 50px;
    }
    th:nth-child(2),
    td:nth-child(2) {
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 4px;
    }
    td {
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--color-light-border);
      strong {
        font-weight: 600;
      }
      color: var(--color-dark);
      white-space: nowrap;
      vertical-align: middle;
      img,
      svg {
        width: 32px;
        padding: 0 4px;
        height: 24px;
        display: inline-block;
      }
    }
  }
  &__title {
    position: relative;
    padding-left: 20px;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-bottom: 8px;
    &::before {
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  .btn {
    margin: 16px auto 0;
    display: block;
    width: fit-content;
  }
  .col-lg-4 {
    padding: 0 20px;
    @include media-breakpoint-down(xl) {
      padding: 0 16px;
    }
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.hp-dashboard__table {
  .hp-dashboard__title::before {
    width: 12px;
    height: 12px;
    background-image: url("../images/content/list.png");
  }
}
.hp-dashboard__gallery {
  .row {
    margin: 0 -4px -8px;
    > * {
      padding-right: 4px;
      padding-left: 4px;
      margin-bottom: 8px;
    }
  }
  .hp-dashboard__title::before {
    width: 16px;
    height: 16px;
    top: 4px;
    background-image: url("../images/ico/insta.svg");
  }

  .col-6 {
    a {
      aspect-ratio: 200/200;
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.hp-dashboard__videos {
  .hp-dashboard__title::before {
    width: 16px;
    height: 12px;
    background-image: url("../images/content/youtube.png");
  }
  &-post {
    text-decoration: none;
    &:hover {
      p {
        text-decoration-color: inherit;
      }
    }
    span {
      display: block;
      font-size: 14px;
      color: var(--color-primary);
      margin-bottom: 8px;
    }
    p {
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
    }
  }
  .post {
    margin-bottom: 16px;
  }
}
