<section class="c-team-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-xl-8 col-12">
        <div class="px-sm-10 pt-section">
          <h1 class="h1 text-primary mb-6 text-uppercase">A-tým</h1>
          <div class="row">
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <a href="#" class="c-team__item">
                <div class="c-team__img">
                  <img
                    src="https://via.placeholder.com/104x104"
                    alt=""
                    loading="lazy"
                  />
                  <span>17</span>
                </div>
                <div class="c-team__info">
                  <h3 class="h3">
                    <span>Tomáš</span>
                    Satoranský
                  </h3>
                  <ul>
                    <li>Rozehrávač</li>
                    <li>201 cm</li>
                    <li>28 let</li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside2.twig" %}
    </div>
  </div>
</section>
