<div class="col-xl-4">
  <aside class="aside">
    <h2 class="h3 aside__title">A-tým</h2>
    <ul class="aside__menu bg-dark">
      <li>
        <a href="#"> Kádr </a>
      </li>
      <li>
        <a class="active" href="#"> Realizační tým </a>
      </li>
      <li>
        <a href="#"> Zápasy </a>
      </li>
      <li>
        <a href="#"> Tabulka </a>
      </li>
      <li>
        <a href="#"> Statistiky </a>
      </li>
    </ul>
    {% include "@components/post/post.twig" %} {% include
    "@components/post/post.twig" %}
  </aside>
</div>
