<div class="col-xl-4">
  <aside class="aside">
    <h2 class="h3 aside__title">Kategorie</h2>
    <ul class="aside__menu bg-dark">
      <li>
        <a class="active" href="#"> Vše</a>
      </li>
      <li>
        <a href="#"> A tým </a>
      </li>
      <li>
        <a href="#"> U11 </a>
      </li>
      <li>
        <a href="#"> U11 KVAL. NF </a>
      </li>
      <li>
        <a href="#"> U12 </a>
      </li>
      <li>
        <a href="#"> U12 KVAL. NF </a>
      </li>
      <li>
        <a href="#"> U13 </a>
      </li>
      <li>
        <a href="#"> U14 </a>
      </li>
      <li>
        <a href="#"> U15 </a>
      </li>
      <li>
        <a href="#"> U17 </a>
      </li>
      <li>
        <a href="#"> U19 </a>
      </li>
    </ul>
  </aside>
</div>
