<section class="c-match-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-xl-8 col-12">
        <article class="c-article__wrapper">
          <div class="c-article__img">
            <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
          </div>
          <div class="px-sm-10">
            <div class="c-article__header">
              <div class="date">24. 12. 2021</div>
              <p>Jan Novák</p>
            </div>
            <h1 class="h1 mb-6 text-primary text-uppercase">
              Lvi o všechno v osobním mači Ronena Ginzburga!
            </h1>
            <hr />
            <div class="c-hp-matches-section__item py-4">
              <p>14. kolo, neděle 4. 4. 2022</p>
              <div class="row justify-content-center">
                <div class="col-sm-4 col-auto">
                  <div class="c-hp-matches-section__item-logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="c-hp-matches-section__item-info">
                    <h3 class="h3 text-primary">Královští sokoli</h3>
                    <h3 class="h3">Bk pardubice</h3>
                  </div>
                </div>
                <div class="col-sm-4 col-auto">
                  <div class="c-hp-matches-section__item-logo">
                    <img
                      src="images/content/pard.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
              <div class="c-hp-matches-section__item-result lose">73:76</div>
              <span>(19:22, 16:19, 20:14, 18:21)</span>
            </div>
            <hr />
            <h2 class="h2 mb-4 text-primary text-uppercase">
              Statistiky zápasu
            </h2>
            <p>
              <strong>Nejvíce bodů:</strong> Rikič 15, Čolak 15, Vyoral 14 -
              Ivanauskas 17, Klassen a Kříž po 14, Watson a Benda po 8, Lockett
              6, Simmons 5, Palyza 4, Kovář a Tůma po 0.
              <strong>Fauly:</strong> 20:24. TH: 29/16 - 12/3.
              <strong>Trojky:</strong> 9:9. <strong>Doskoky:</strong> 32:48.
              <strong>Ztráty:</strong> 7:17 <strong>Zisky:</strong> 10:4.
              <strong>Asistence:</strong> 14:23.
            </p>
            <hr />
            <div class="row">
              <h2 class="h2 mb-4 text-primary text-uppercase">Sestavy</h2>
              <div class="col-sm-6">
                Michajlov – Krejčí, Havel, Barák, Hovorka, Veber, Zelingr, Duda
                – Kafka, Knotek, Kružík – Vlček, Žejdl, Michnáč – Doležal,
                Poletín, Ondráček – Pšenička, Kern, Šteiner
              </div>
              <div class="col-sm-6">
                Fučík (21. Kořének) – Chroboček, Valenta, Mrowiec, Lytvynov,
                Kabelka, Hlaváč – Bednář, Pechanec, Hrubec – Maruna, Hudeček,
                Dostálek – Bambula, Veselý, Kunc – Mrva, Krupa, Damašek
              </div>
            </div>
            <hr />

            <div class="o-content mb-10">
              <p>
                Přijít o play-off EuroBasketu po porážce od rodné země, to by
                Ronena Ginzburga mrzelo ještě hodně dlouho. A všichni jeho muži
                jistě udělají první i poslední, aby ho od této zkušenosti
                uchránili. Podle dosavadního vývoje skupiny D však půjde o velmi
                nesnadnou misi. Dál se po téhle bitvě posune jen jeden!
              </p>
              <p>
                „Bude to klíčový zápas a bude to proti mé rodné zemi. Teď ale
                žiju tady a miluju Česko, takže tam bude o něco víc emocí,”
                přiznal Ronen Ginzburg, který by si určitě uměl představit méně
                napínavé okolnosti posledního kola skupiny.
              </p>
              <p>
                „Pro mě to ale i přes to všechno nebude nijak zvlášť těžší.
                Jistě, narodil jsem se v Izraeli, ale nakonec jde především o
                basket a my musíme vyhrát. I přes ty osobní emoce platí, že
                jakmile začne zápas, už tohle musí stranou,” zdůrazní.
              </p>
              <h2>Ohlasy trenérů</h2>
              <p>
                <strong>Roberts Štelmahers (trenér Nymburka):</strong>
                Tak či tak, lvi už nyní mají doslova nůž na krku. V posledním
                pátém kole základní skupiny potřebují ve čtvrtek v pražské O2
                aréně skolit Izrael (17:30), aby si pomohli k postupu do
                osmifinále play-off v Berlíně. Tři zbývající postupové vstupenky
                z české skupiny jsou již rozdány, když si je zabrali Srbové,
                Poláci a Finové. Češi (aktuální bilance 1-3), nebo Izraelci
                (2-2) získají tu poslední.
              </p>
              <p>
                <strong>Dino Repeša (trenér Pardubic):</strong>
                Ve hře je ale stála řada proměnných. Pokud v prvním utkání dne
                uspějí Finové s Nizozemci, a lvi pak Izraelce porazí byť o
                jediný bod, postupují při shodné bilanci se soupeřem na lepší
                vzájemný zápas. Pokud by však v prvním utkání zvítězili
                Nizozemci, musí lvi vyhrát nejméně o šest bodů, aby při
                minitabulce tří s bilancí 2-3 (s Finskem a Izraelem) přetlačili
                tým ze zaslíbené země.
              </p>
            </div>
          </div>
          {% include "@components/photogallery/photogallery.twig" %}
        </article>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
