.btn {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-light);
  border-radius: 4px;
  text-transform: uppercase;
}
