input {
  font-size: 0.875rem;
  color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
  height: 2.0625rem;
  border-radius: 0;
  outline: none;
  color: var(--color-dark);
  &::placeholder {
    color: var(--color-dark);
  }
}
