<section class="c-archive-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-lg-8 col-md-10 mx-auto col-12">
        <div class="pt-section pb-10">
          <h1 class="h1 text-primary mb-6 text-uppercase">Archiv ČLÁNKŮ</h1>
          <div class="header-section__row">
            <form action="" class="header-section__form">
              <div class="row gy-6">
                <div class="col-xl-2 col-sm-4">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Kategorie</option>
                      <option>Kategorie 1</option>
                      <option>Kategorie 2</option>
                      <option>Kategorie 3</option>
                      <option>Kategorie 4</option>
                    </select>
                  </label>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Měsíc</option>
                      <option>leden</option>
                      <option>únor</option>
                      <option>březen</option>
                      <option>duben</option>
                      <option>květen</option>
                      <option>červen</option>
                      <option>červenec</option>
                      <option>srpen</option>
                      <option>září</option>
                      <option>říjen</option>
                      <option>listopad</option>
                      <option>prosinec</option>
                    </select>
                  </label>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Sezóna</option>
                      <option>Sezóna 1</option>
                      <option>Sezóna 2</option>
                      <option>Sezóna 3</option>
                      <option>Sezóna 4</option>
                      <option>Sezóna 5</option>
                      <option>Sezóna 6</option>
                    </select>
                  </label>
                </div>
                <div class="col-xl-4 col-sm-9">
                  <label class="header-section__input">
                    <input type="text" placeholder="Hledat v článcích..." />
                  </label>
                </div>
                <div class="col-xl-2 col-sm-3 col-12">
                  <button class="btn">Hledat</button>
                </div>
              </div>
            </form>
          </div>
          <div class="c-archive-section__inner">
            <div class="row g-6 mb-6">
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-sm-6 col-xl-4">
                {% include "@components/post/post.twig" %}
              </div>
            </div>
            <nav aria-label="Další stránky">
              <ul
                class="pagination d-flex flex-wrap pagination-flat pagination-success"
              >
                <li class="page-item active">
                  <a class="page-link" href="#" data-abc="true">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true"> »</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside4.twig" %}
    </div>
  </div>
</section>
