<div class="photogallery">
  <h3 class="h3 px-sm-10 text-primary mb-4">FOTOGALERIE</h3>
  <div class="row g-4">
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>+12</span>
      </a>
    </div>
  </div>
</div>
