<section class="c-archive-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-lg-8 col-md-10 mx-auto col-12">
        <div class="pt-section pb-10">
          <div class="header-section__row">
            <form action="" class="header-section__form">
              <div class="row gy-6 justify-content-between">
                <div class="col-auto">
                  <h1 class="h1 text-primary text-uppercase">Zápasy</h1>
                </div>

                <div class="col-xl-2 col-sm-4">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Sezóna</option>
                      <option>Sezóna 1</option>
                      <option>Sezóna 2</option>
                      <option>Sezóna 3</option>
                      <option>Sezóna 4</option>
                      <option>Sezóna 5</option>
                      <option>Sezóna 6</option>
                    </select>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="c-matches-section__inner">
            <div class="c-matches-section__filtr">
              <strong>Zobrazit:</strong>
              <a href="#">pouze doma</a>
              |
              <a href="#">pouze venku</a>
              |
              <a class="active" href="#">vše</a>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">Vstupenky</a>
                  <div class="c-matches__score">
                    <a class="" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">Vstupenky</a>
                  <div class="c-matches__score">
                    <a class="" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">Reportáž</a>
                  <a href="#" class="btn">On-line</a>
                  <div class="c-matches__score win">
                    <a class="" href="#">80:60</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">Reportáž</a>
                  <a href="#" class="btn">On-line</a>
                  <div class="c-matches__score lose">
                    <a class="lose" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">On-line</a>
                  <div class="c-matches__score">
                    <a class="" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">On-line</a>
                  <div class="c-matches__score">
                    <a class="" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-matches">
              <div class="c-matches__inner">
                <div class="c-matches__box">
                  <div class="c-matches__logos">
                    <div class="c-matches__logo">
                      <img src="images/content/logo.png" alt="" />
                    </div>
                    <div class="c-matches__logo">
                      <img src="images/content/pard.png" alt="" />
                    </div>
                  </div>
                  <div class="c-matches__info">
                    <p>14. kolo, neděle 4. 4. 2022</p>
                    <h2 class="h4">Královští sokoli</h2>
                    <h2 class="h4">Bk pardubice</h2>
                  </div>
                </div>
                <div class="c-matches__result">
                  <a href="#" class="btn">On-line</a>
                  <div class="c-matches__score">
                    <a class="" href="#">17:30</a>
                  </div>
                </div>
              </div>
            </div>

            <nav aria-label="Další stránky">
              <ul
                class="pagination d-flex flex-wrap pagination-flat pagination-success"
              >
                <li class="page-item active">
                  <a class="page-link" href="#" data-abc="true">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true"> »</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside2.twig" %}
    </div>
  </div>
</section>
