<footer class="footer bg-dark">
  <div class="container">
    <p>
      © 2022 Královští sokoli &
      <a href="https://esportsmedia.cz/">eSports.cz s.r.o.</a>
    </p>
    <div class="d-flex justify-content-center">
      {% include "@components/social/social2.twig" %}
    </div>
  </div>
</footer>
