.footer {
  position: relative;
  padding-top: 56px;
  padding-bottom: 32px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../images/content/logo.png");
    width: 56px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    transform: translateY(-25%);
  }
  p {
    font-size: 14px;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 16px;
  }
  a {
    text-decoration-color: inherit;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}
