<article class="post">
  <a href="#" class="post__link">
    <div class="post__img">
      <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      <div class="date">16. 12. 2021</div>
    </div>
    <div class="post__info">
      <h3 class="h3">
        Mládežnický reprezentant Filip Kábrt posiluje hradecké Sokoly!
      </h3>
    </div>
  </a>
</article>
