<article class="post">
  <a href="#" class="post__link">
    <div class="post__img">
      <img src="images/content/clanek2.jpeg" loading="lazy" alt="" />
      <div class="date">16. 12. 2021</div>
    </div>
    <div class="post__info">
      <h4 class="h3">
        Mládežnický reprezentant Filip Kábrt posiluje hradecké Sokoly!
      </h4>
      <p>
        Královohradecký tým představuje první zahraniční posilu pro nadcházející
        ročník Kooperativa NBL. Tím je 25letý chorvatský guard Lovro Mandalinić…
      </p>
      <span>Mládež</span>
    </div>
  </a>
</article>
