{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %}

<section class="c-static-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-xl-8 col-12">
        <div class="px-sm-10 pt-section">
          <div class="o-content mb-10">
            <h1>Základní informace</h1>
            <p>
              <strong>
                Davide, po čtyřech letech vás opět čeká angažmá v Mladé
                Boleslavi. Co pro návrat ke Středočechům rozhodlo?</strong
              >
              <br />
              Od konce sezóny jsme s agentem probírali nabídky z extraligy i z
              první ligy, které jsme dostali. Stále patřím Litvínovu, se kterým
              jsem se nemohl domluvit na přestupové nebo hostovací částce, takže
              se celý proces protáhl. V létě jsem byl bez angažmá, ale jak se
              domluvila částka, která oběma klubům vyhovuje, tak jsem si s
              rodinou a agentem vybírali. Boleslav ze všech nabídek vyšla
              nejlépe.
            </p>
            <h2>Title h2</h2>
            <h3>Title h3</h3>
            <h4>Title h4</h4>
            <h5>Title h5</h5>
            <h6>Title h6</h6>
            <p>
              <strong> Můžete být konkrétnější? </strong>
              <br />
              Mám zázemí a půlku rodiny v Liberci, takže i blízkost k domovu.
              Rozhodla i komunikace napřímo. V Boleslavi mi nemazali med kolem
              pusy a řekli, co se ode mě očekává. S Vencou Nedorostem jsme přes
              trenéry řešili moji roli. Nechtěl bych tu být jen tak, abych pak
              nedokázal obstát.
            </p>
            <p>Lorem ipsum dolor sit amet.</p>
            <ul>
              <li>
                <a href="#">Základní informace</a>
              </li>
              <li>
                <a href="#">Historie klubu</a>
              </li>
              <li>Vedení</li>
              <li>
                <a href="#">Kontakty</a>
              </li>
            </ul>
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <p>
              <strong>Jaká tedy bude vaše úloha v týmu?</strong>
              <br />
              Je tu hodně ofenzivního útočníků, hodně hráčů, kteří dávají góly.
              O ně se musí někdo postarat, někoho musí mít za zády. Musí se
              <a href="#">cítit bezpečně, aby dobře plnili svoji</a> roli. Do
              oslabení se pak ode mě očekává bolavá tvrdá práce, jako je
              blokování střel. Nejsem tu od toho, abych každý zápas shazoval
              rukavice. Nechci tým oslabovat, chci být co nejvíce prospěšný.
            </p>
            <table>
              <thead>
                <tr>
                  <th>První sloupec</th>
                  <th>Druhý sloupec</th>
                  <th>Třetí a poslední sloupec</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Obsah prvního sloupce</td>
                  <td>Další obsah sloupce</td>
                  <td>
                    Obsah třetího a posledního sloupce, který je tentokrát o
                    něco delší.
                  </td>
                </tr>
                <tr>
                  <td>Obsah prvního sloupce</td>
                  <td>Další obsah sloupce</td>
                  <td>
                    Obsah třetího a posledního sloupce, který je tentokrát o
                    něco delší.
                  </td>
                </tr>
                <tr>
                  <td>Obsah prvního sloupce</td>
                  <td>Další obsah sloupce</td>
                  <td>
                    Obsah třetího a posledního sloupce, který je tentokrát o
                    něco delší.
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/8NmkqBZN-aQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </p>
            <p>
              <strong
                >Jak se tedy David Štich za čtyři roky od odchodu z Bruslařského
                klubu změnil?</strong
              >
              <br />
              Chtěl bych říct, že je rozumnější, ale po posledním výstupu v
              Mladé Boleslavi to asi tak nevypadá. (smích) Nevěděl jsem, že
              tisková mluvčí Boleslavi stojí mezi střídačkami, prostě jsem ji v
              tom zatmění neviděl. Naštěstí tu ránu hokejkou ode mě neschytala,
              i když to bylo těsné. Nebyl to ani úmysl. Kdo mě zná mimo led, tak
              ví, že bych nic takového neudělal. Blbosti už nedělám každý zápas.
              Sem tam blikanec je, to k hokeji patří. Myslím si, že si v kabině
              umím vybudovat respekt a pronést nějaká slova. Hlavně se snažím
              nastupující generaci pomáhat a předávat zkušenosti.
            </p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/8NmkqBZN-aQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <p>
              <strong
                >Do Mladé Boleslavi přišel i Tomáš Šmerha, který poznal vaši hru
                v semifinále play off. Už jste si to vyříkali?</strong
              >
              <br />
              Co se stane na ledě, zůstane na ledě, stejně tak v kabině. Po
              zápase se zajde na pivo a je urovnáno. Na pivu bychom se bavili
              jako dva normální lidi. Když jsme to spolu řešili, tak jsme se
              zasmáli, prohodili nějaký žertík a tím to končí. Myslím si, že já
              ani Šmerhič v sobě nic neneseme. Jak na vás zatím působí tým
              Bruslařů?Kádr se tvoří velmi dobrý. Je to mladší, kvalitní a
              bruslivý tým, který má do sezóny velký potenciál. Věřím, že si
              sedneme v kabině i na ledě, budeme skvělá parta a přeneseme to do
              zápasů.
            </p>
            <p>
              <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            </p>
            <p>
              <strong>Jak podle vás tenhle tým může dojít daleko?</strong>
              <br />
              Nechci to před sezonou komentovat. Půjde se zápas od zápasu. V
              každém utkání budeme chtít sbírat body a od toho se bude sezóna
              vyvíjet.
            </p>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside2.twig" %}
    </div>
  </div>
</section>

{% include "@components/partners/partners.twig" %} {% endblock %}
