<section class="c-topstory-section">
  <div class="container">
    <div class="c-topstory-section__inner">
      <div class="c-topstory-section__item--main c-topstory-section__item">
        <a class="c-topstory-section__img" href="#">
          <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
          <div class="c-topstory-section__info">
            <div class="c-topstory-section__info-box">
              <div class="date">24. 12. 2021</div>
              <h1 class="h1">
                Mládežnický reprezentant Filip Kábrt posiluje hradecké Sokoly!
              </h1>
            </div>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__col">
        <div class="c-topstory-section__item">
          <a class="c-topstory-section__img" href="#">
            <img src="images/content/clanek2.jpeg" loading="lazy" alt="" />
            <div class="c-topstory-section__info">
              <div class="c-topstory-section__info-box">
                <div class="date">16. 12. 2021</div>
                <h2 class="h3">
                  Zhodnocení uplynulé sezóny očima Petera Sedmáka
                </h2>
              </div>
            </div>
          </a>
        </div>
        <div class="c-topstory-section__item">
          <a class="c-topstory-section__img" href="#">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="c-topstory-section__info">
              <div class="c-topstory-section__info-box">
                <div class="date">16. 12. 2021</div>
                <h2 class="h3">Série předkola play off vyrovnána na 1:1</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
