.c-topstory-section {
  .container {
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    flex: 0 0 34%;
    max-width: 34%;
    @include media-breakpoint-down(xl) {
      max-width: 100%;
      flex: 100%;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__item {
    height: 267px;
    overflow: hidden;
    &:nth-child(2) {
      border-top: 1px solid var(--color-light);
      @include media-breakpoint-down(xl) {
        border: none;
      }
      @include media-breakpoint-down(md) {
        border-top: 1px solid var(--color-light);
      }
    }
    @include media-breakpoint-only(lg) {
      max-width: 50%;
      flex: 0 0 50%;
      height: auto;
    }
    @include media-breakpoint-only(md) {
      max-width: 50%;
      flex: 0 0 50%;
      height: auto;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
      flex: 100%;
      height: auto;
      min-height: 320px !important;
    }

    &:hover {
      .h3,
      .h5 {
        text-decoration-color: var(--color-light);
      }
      img {
        transform: scale(1.05);
      }
    }
    svg {
      width: 40px;
      padding: 0 8px;
      height: 40px;
    }
    &--main {
      flex: 0 0 66%;
      max-width: 66%;
      height: 534px;
      border-right: 1px solid var(--color-light);
      @include media-breakpoint-down(xl) {
        border-right: none;
        border-bottom: 1px solid var(--color-light);
      }
      .c-topstory-section__info-box {
        margin-bottom: 40px;
        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
        }
      }
      .c-topstory-section__img::before {
        width: 34px;
        height: 32px;
        bottom: 40px;
        right: 40px;
        @include media-breakpoint-down(md) {
          right: 20px;
          bottom: 20px;
          width: 25px;
          height: 24px;
        }
      }
      @include media-breakpoint-down(xl) {
        max-width: 100%;
        flex: 100%;
        height: auto;
      }
      svg {
        width: 60px;
        padding: 0 8px;
        height: 40px;
      }
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 7e-5) 28.06%,
          rgba(0, 0, 0, 0.9) 99.51%
        ),
        rgba(0, 0, 0, 0);
    }
    &::before {
      content: "";
      position: absolute;
      right: 22px;
      bottom: 25px;
      width: 23px;
      height: 22px;
      z-index: 1;
      background-image: url("../images/ico/enter.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-light);
    z-index: 3;

    &-box {
      padding-left: 40px;
      padding-right: 5rem;
      margin-bottom: 20px;
      max-width: 730px;
      @include media-breakpoint-down(xl) {
        padding-left: 24px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 50px;
      }

      .h1 {
        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
      }
      .h1,
      .h3 {
        margin-top: 16px;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.3s;
        text-transform: uppercase;
      }
    }
  }
}

.hp-wrapper {
  background-color: rgba(242, 103, 38, 0.1);
  box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.05);
}
