<section class="c-hp-matches-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="c-hp-matches-section__item">
          <p>14. kolo, neděle 4. 4. 2022</p>
          <div class="row justify-content-center">
            <div class="col-sm-4 col-auto">
              <div class="c-hp-matches-section__item-logo">
                <img src="images/content/pard.png" loading="lazy" alt="logo" />
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="c-hp-matches-section__item-info">
                <h3 class="h3">Bk pardubice</h3>
                <h3 class="h3 text-primary">Královští sokoli</h3>
              </div>
            </div>
            <div class="col-sm-4 col-auto">
              <div class="c-hp-matches-section__item-logo">
                <img src="images/content/logo.png" loading="lazy" alt="logo" />
              </div>
            </div>
          </div>
          <div class="c-hp-matches-section__item-result lose">82:76</div>
          <ul class="c-hp-matches-section__item-links">
            <li>
              <a class="btn" href="#">Reportáž</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="c-hp-matches-section__item">
          <p>14. kolo, neděle 4. 4. 2022</p>
          <div class="row justify-content-center">
            <div class="col-sm-4 col-auto">
              <div class="c-hp-matches-section__item-logo">
                <img src="images/content/logo.png" loading="lazy" alt="logo" />
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="c-hp-matches-section__item-info">
                <h3 class="h3 text-primary">Královští sokoli</h3>
                <h3 class="h3">Bk pardubice</h3>
              </div>
            </div>
            <div class="col-sm-4 col-auto">
              <div class="c-hp-matches-section__item-logo">
                <img src="images/content/pard.png" loading="lazy" alt="logo" />
              </div>
            </div>
          </div>
          <div class="c-hp-matches-section__item-result">14:30 hod.</div>
          <ul class="c-hp-matches-section__item-links">
            <li>
              <a class="btn" href="#">Reportáž</a>
            </li>
            <li>
              <a class="btn" href="#">vstupenky</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
