<section class="c-gallery-section border-bottom">
  <div class="container">
    <div class="row gx-10">
      <div class="col-md-8 mx-auto col-12">
        <div class="pt-section pb-10">
          <h1 class="h1 text-primary mb-6 text-uppercase">FOTOGALERIE</h1>
          <div class="header-section__row">
            <form action="" class="header-section__form">
              <div class="row gy-6">
                <div class="col-sm-4 col-12">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Měsíc</option>
                      <option>leden</option>
                      <option>únor</option>
                      <option>březen</option>
                      <option>duben</option>
                      <option>květen</option>
                      <option>červen</option>
                      <option>červenec</option>
                      <option>srpen</option>
                      <option>září</option>
                      <option>říjen</option>
                      <option>listopad</option>
                      <option>prosinec</option>
                    </select>
                  </label>
                </div>
                <div class="col-sm-6 col-12">
                  <label class="header-section__input">
                    <input type="text" placeholder="Hledat v článcích..." />
                  </label>
                </div>
                <div class="col-sm-2 col-12">
                  <button class="btn">Hledat</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row g-6 mb-6">
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
              <picture>
                <a
                  class="c-gallery__item"
                  href="#"
                  data-gallery="1"
                  data-gallery-id="1"
                >
                  <div class="c-gallery__img">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                    <div class="date">16. 12. 2021</div>
                  </div>
                  <div class="c-gallery__info">
                    <h3 class="h6">
                      Po draftu CHL jsem nadšený, přiznává David Moravec. Co
                      bude dál?
                    </h3>
                  </div>
                  <div class="c-gallery__number"><span>32</span></div>
                </a>
              </picture>
            </div>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      {% include "@components/aside/aside2.twig" %}
    </div>
  </div>
</section>
